<div class="container">

    <div class="my-5 jumbotron">

        <h1>Hello, world!</h1>
        <p>Welcome to your new single-page application, built with:</p>


        <div class="d-flex justify-content-center">
            <!-- <button class="btn btn-lg btn-primary fixed-width m-3" routerLink="/admin">Admin</button> -->
            <!-- <button class="btn btn-lg btn-dark fixed-width m-3" routerLink="/Authentication">Login</button> -->
            <!-- <button class="btn btn-lg btn-dark fixed-width m-3" routerLink="/rvrgstr">Revision Register</button> -->
        </div>
    </div>

</div>
